.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
    color: dodgerblue;
}

.reveal strong {
    color: dodgerblue;
}

.reveal blockquote {
    width: 100%;
    font-size: 100%;
    font-style: normal;
    background-color: #e7eaf6;
    padding: 25px;
}

.reveal em {
    color: #347474;
    font-weight: bold;
}

.reveal code {
    font: inherit;
    color: #347474;
}

.reveal li {
    font-size: 35px;
}

.reveal p {
    font-size: 35px;
}
