.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
    color: dodgerblue;
}

.reveal strong {
    color: dodgerblue;
}

.reveal blockquote {
    width: 100%;
    font-size: 100%;
    font-style: normal;
}

.reveal em {
    color: mediumseagreen;
}

.reveal code {
    font: inherit;
    color: mediumseagreen;
}

.reveal li {
    font-size: 30px;
}

.reveal p {
    font-size: 25px;
}
